@use './_breakpoints.scss' as b;

.backgroundDarker {
  &--active {
    transition: all 400ms ease;
    background-color: var(--color-background-darker);
  }
  &--inactive {
    transition: all 400ms ease;
    background-color: var(--color-background);
  }
  @include b.breakpoint('medium') {
    &--active,
    &--inactive {
      background-color: var(--color-background);
    }
  }
}
