@use '../../../styles/abstracts/_mixins.scss' as m;

.container {
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-background);
  color: white;
  display: grid;
  grid-template-rows: auto 1fr auto;
}


.main {
  @include m.appContainer;
}

.footer {
}
