:root {
  --color-background: #342C2B;
  --color-background-secondary: #3B3231;
  --color-background-darker: #252221;
  --color-logo: #ED3C1F;
  --text-primary: #EBE1CE;
  --text-secondary: #A0968F;
}