h1 {
  font-size: 2.8125rem;
}

h2 {
  font-size: 2.3125rem;
}

h3 {
  font-size: 1.8125rem;
}

h4 {
  font-size: 1.3125rem;
}

p {
  font-size: clamp(1.2rem, 2.5vw, 1.3rem);
}

li {
  font-size: clamp(1.2rem, 2.5vw, 1.3rem);
}

a {
  user-select: none;
}
